In [8]:
import pandas as pd
sheet_name = 'tasmin_under32F_ssp2-45' #Average annual days with minimum temperatures below 32F/0C under Moderate Emissions (SSP 2-4.5)
df = pd.read_excel('ClimateImpactLab_GlobalData_10Nov2022.xlsx', sheet_name=sheet_name, header=[1,2])
df.head()

   ISO Historical 1986-2005                         Next decades 2020-2039  \
   ISO                 0.05         0.5        0.95                   0.05
0  ABW             0.000000    0.000000    0.000000               0.000000
1  AFG           111.922098  113.173451  118.128900              91.773962
2  AGO             0.000000    0.000006    0.001367               0.000000
3  AIA             0.000000    0.000000    0.000000               0.000000
4  ALA            83.500512   93.388962  113.493130              45.771356

                            Midcentury 2040-2059                           \
            0.5        0.95                 0.05           0.5       0.95
0  0.000000e+00    0.000000             0.000000  0.000000e+00   0.000000
1  1.003753e+02  105.435528            85.329766  9.315471e+01  98.725409
2  9.977473e-07    0.000551             0.000000  5.570572e-07   0.000012
3  0.000000e+00    0.000000             0.000000  0.000000e+00   0.000000
4  6.542664e+01   81.436647            33.083751  5.430887e+01  68.481644

  End of century 2080-2099
                      0.05        0.5       0.95
0                 0.000000   0.000000   0.000000
1                66.400962  86.291580  94.956719
2                 0.000000   0.000000   0.000030
3                 0.000000   0.000000   0.000000
4                21.097577  44.634268  65.903436

In [1]:
import geopandas as gpd
import geoviews as gv
import cartopy.crs as ccrs

# Load the world map data from geopandas
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
world.head()

# # Get days below freezing for each country
# days_below_freezing = df[('Historical 1986-2005', 0.5)]

# # Add the days below freezing data to the world geodataframe
# world['days_below_freezing'] = days_below_freezing

# # Define the color scale for the plot
# cmap = 'Blues'

# # Create a GeoViews Polygons object with the days below freezing data
# polygons = gv.Polygons(world, vdims=['days_below_freezing'])

# # Define the plot options
# options = dict(
#     width=800,
#     height=500,
#     projection=ccrs.Robinson(),
#     tools=['hover'],
#     cmap=cmap,
#     colorbar=True,
#     bgcolor='white'
# )

# # Plot the map using the defined options
# gv.tile_sources.CartoLight() * polygons.opts(**options)

ModuleNotFoundError: No module named 'geoviews'

In [ ]:
import geoviews as gv
import geopandas as gpd
gv.Polygons(gpd.read_file(gpd.datasets.get_path('naturalearth_lowres')), vdims=['pop_est', ('name', 'Country')]).opts(
    tools=['hover'], width=600, projection=crs.Robinson()
)